    <section>
      <h2>Tags</h2>
      <div class="tags">
        {% for link in site.tags %}
          <a class="tag" href="{{ site.baseurl }}/tags/{{ link | first | downcase }}">
            {{ link | first | replace: '-', ' ' | capitalize }}
          </a>
        {% endfor %}
      </div>
    </section>
    <footer>
      <div class="social">
        <a href="https://github.com/cuongtobi/" title="Github" target="_blank" rel="nofollow noopener noreferrer">Github</a> |
        <a href="https://www.linkedin.com/in/cuong-vuong-66b419208/" title="LinkedIn" target="_blank" rel="nofollow noopener noreferrer">LinkedIn</a> |
        <a href="https://www.facebook.com/cuong1996/" title="Facebook" target="_blank" rel="nofollow noopener noreferrer">Facebook</a> |
        <a href="https://twitter.com/cuongtobi29/" title="Twitter" target="_blank" rel="nofollow noopener noreferrer">Twitter</a> |
        <a href="https://www.instagram.com/cuongtobi/" title="Instagram" target="_blank" rel="nofollow noopener noreferrer">Instagram</a>
      </div>
      <span class="copyright">@2021 by <a href="/">cuongtobi</a></span>
    </footer>
  </div>
</body>
</html>
