<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">CUONGTOBI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in site.categories %}
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/categories/{{ link | first | downcase }}">
              {{ link | first | replace: '-', ' ' | upcase }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="http://www.google.com/search" method="get">
        <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
