<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif%}
    </title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/main.css?v=1.0.0"/>
  </head>
<body>
  <div class="wrapper">
    <header>
      <div id="header">
        <a href="/" class="site-title">cuongtobi<span class="site-title-terminal">&gt;</span><span class="blink">_</span></a>
      </div>
    </header>
