{% include header.html %}

<article>
  <div class="article-header text-center">
    <h1>{{ page.title }}</h1>
    <div class="article-metas">
      <span class="article-date">{{ page.date | date: "%d/%m/%Y" }}</span>
      <a class="category" href="{{ site.baseurl }}/categories/{{ page.categories | first | downcase }}">
        {{ page.categories | first | replace: '-', ' ' | upcase }}
      </a>
    </div>
  </div>
  <div class="article-content">
    {{ page.content }}
  </div>
</article>

{% include footer.html %}

